DB_LOCAL_PORT=5432
DB_DOCKER_PORT=5432
DB_NAME=YOUR_DATA
DB_USERNAME=YOUR_DATA
DB_PASSWORD=YOUR_DATA
DB_HOST=YOUR_DATA

LOCAL_DOMAIN=YOUR_DATA

SERVER_LOCAL_PORT=8080
SERVER_DOCKER_PORT=8080

CRYPTO_SALT=YOUR_DATA

SMTP_HOST=YOUR_DATA
SMTP_PORT=YOUR_DATA
SMTP_PASSWORD=YOUR_DATA
SMTP_USERNAME=YOUR_DATA

STRIPE_API_KEY=YOUR_DATA
